<!DOCTYPE html>
<html lang="en">
<body>
<table class="email-canvas" style="height: 100%; border-collapse: collapse; border-spacing: 0; margin: 0 auto;"
       border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f0f0f0">
    <tbody>
    <tr>
        <td valign="top">
            <div style="width: 100%;">
                <div class="email-wrapper" style="margin: auto; max-width: 600px; border-radius: 3px;">
                    <table class="email-body"
                           style="border-collapse: collapse; border-spacing: 0; margin: 0 auto; margin-top: 40px; border-radius: 3px; box-shadow: 1px 1px 5px 2px rgba(186, 181, 181, 0.1); border: #f7f7f7;"
                           border="0" width="100%" cellspacing="0" cellpadding="0" align="center"
                           bgcolor="#ffffff">
                        <tbody>
                        <tr>
                            <td>
                                <table style="border-collapse: collapse; border-spacing: 0; margin: 0 auto;" border="0"
                                       width="100%" cellspacing="0" cellpadding="30">
                                    <tbody>
                                    <tr>
                                        <td class="email-body-content"
                                            style="padding: 30px; color: #444; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 150%;"
                                            valign="top">
                                            <p style="color: #505050; font-size: 15px; line-height: 1.5; margin-bottom: 15px; margin-top:15px;">
                                                Hi,</p>
                                            <p style="color: #505050; font-size: 15px; line-height: 1.5; margin-bottom: 15px; margin-top:15px;">
                                                to reset your password please go to this link: <a
                                                        href="<%= host + '/auth/password-reset/' + user.recoveryToken %>"><%= host + '/password-reset/' + user.recoveryToken %></a>
                                            </p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
</body>
</html>
